In [11]:
import pandas as pd

file = 'who_suicide_statistics.csv'
datos = pd.read_csv(file)
datos # Primera vista

        country  year     sex          age  suicides_no  population
0       Albania  1985  female  15-24 years          NaN    277900.0
1       Albania  1985  female  25-34 years          NaN    246800.0
2       Albania  1985  female  35-54 years          NaN    267500.0
3       Albania  1985  female   5-14 years          NaN    298300.0
4       Albania  1985  female  55-74 years          NaN    138700.0
...         ...   ...     ...          ...          ...         ...
43771  Zimbabwe  1990    male  25-34 years        150.0         NaN
43772  Zimbabwe  1990    male  35-54 years        132.0         NaN
43773  Zimbabwe  1990    male   5-14 years          6.0         NaN
43774  Zimbabwe  1990    male  55-74 years         74.0         NaN
43775  Zimbabwe  1990    male    75+ years         13.0         NaN

[43776 rows x 6 columns]

In [13]:
# Traduccion de columnas
nuevas_columnas = {
    'country':'pais',
    'year':'año',
    'sex':'sexo',
    'age':'edad',
    'suicides_no':'nro_suicidios',
    'population':'poblacion',
}

# Traduccion de paises
paises_trad = {
     'Albania': 'Albania',
     'Anguilla': 'Anguila',
     'Antigua and Barbuda': 'Antigua y Barbuda',
     'Argentina': 'Argentina',
     'Armenia': 'Armenia',
     'Aruba': 'Aruba',
     'Australia': 'Australia',
     'Austria': 'Austria',
     'Azerbaijan': 'Azerbaiyán',
     'Bahamas': 'Bahamas',
     'Bahrain': 'Bahréin',
     'Barbados': 'Barbados',
     'Belarus': 'Bielorrusia',
     'Belgium': 'Bélgica',
     'Belize': 'Belice',
     'Bermuda': 'Bermudas',
     'Bolivia': 'Bolivia',
     'Bosnia and Herzegovina': 'Bosnia y Herzegovina',
     'Brazil': 'Brasil',
     'British Virgin Islands': 'Islas Vírgenes Británicas',
     'Brunei Darussalam': 'Brunei Darussalam',
     'Bulgaria': 'Bulgaria',
     'Cabo Verde': 'Cabo Verde',
     'Canada': 'Canadá',
     'Cayman Islands': 'Islas Caimán',
     'Chile': 'Chile',
     'Colombia': 'Colombia',
     'Costa Rica': 'Costa Rica',
     'Croatia': 'Croacia',
     'Cuba': 'Cuba',
     'Cyprus': 'Chipre',
     'Czech Republic': 'República Checa',
     'Denmark': 'Dinamarca',
     'Dominica': 'Dominica',
     'Dominican Republic': 'República Dominicana',
     'Ecuador': 'Ecuador',
     'Egypt': 'Egipto',
     'El Salvador': 'El Salvador',
     'Estonia': 'Estonia',
     'Falkland Islands (Malvinas)': 'Islas Malvinas',
     'Fiji': 'Fiyi',
     'Finland': 'Finlandia',
     'France': 'Francia',
     'French Guiana': 'Guayana Francesa',
     'Georgia': 'Georgia',
     'Germany': 'Alemania',
     'Greece': 'Grecia',
     'Grenada': 'Granada',
     'Guadeloupe': 'Guadalupe',
     'Guatemala': 'Guatemala',
     'Guyana': 'Guyana',
     'Haiti': 'Haití',
     'Honduras': 'Honduras',
     'Hong Kong SAR': 'Hong Kong',
     'Hungary': 'Hungría',
     'Iceland': 'Islandia',
     'Iran (Islamic Rep of)': 'Irán',
     'Iraq': 'Irak',
     'Ireland': 'Irlanda',
     'Israel': 'Israel',
     'Italy': 'Italia',
     'Jamaica': 'Jamaica',
     'Japan': 'Japón',
     'Jordan': 'Jordania',
     'Kazakhstan': 'Kazajstán',
     'Kiribati': 'Kiribati',
     'Kuwait': 'Kuwait',
     'Kyrgyzstan': 'Kirguistán',
     'Latvia': 'Letonia',
     'Lithuania': 'Lituania',
     'Luxembourg': 'Luxemburgo',
     'Macau': 'Macao',
     'Malaysia': 'Malasia',
     'Maldives': 'Maldivas',
     'Malta': 'Malta',
     'Martinique': 'Martinica',
     'Mauritius': 'Mauricio',
     'Mayotte': 'Mayotte',
     'Mexico': 'México',
     'Monaco': 'Mónaco',
     'Mongolia': 'Mongolia',
     'Montenegro': 'Montenegro',
     'Montserrat': 'Montserrat',
     'Morocco': 'Marruecos',
     'Netherlands': 'Países Bajos',
     'Netherlands Antilles': 'Antillas Holandesas',
     'New Zealand': 'Nueva Zelanda',
     'Nicaragua': 'Nicaragua',
     'Norway': 'Noruega',
     'Occupied Palestinian Territory': 'Territorios Palestinos',
     'Oman': 'Omán',
     'Panama': 'Panamá',
     'Paraguay': 'Paraguay',
     'Peru': 'Perú',
     'Philippines': 'Filipinas',
     'Poland': 'Polonia',
     'Portugal': 'Portugal',
     'Puerto Rico': 'Puerto Rico',
     'Qatar': 'Qatar',
     'Republic of Korea': 'Corea del Sur',
     'Republic of Moldova': 'Moldavia',
     'Reunion': 'Reunión',
     'Rodrigues': 'Rodrigues',
     'Romania': 'Rumania',
     'Russian Federation': 'Federación Rusa',
     'Saint Kitts and Nevis': 'San Cristóbal y Nieves',
     'Saint Lucia': 'Santa Lucía',
     'Saint Pierre and Miquelon': 'San Pedro y Miquelón',
     'Saint Vincent and Grenadines': 'San Vicente y las Granadinas',
     'San Marino': 'San Marino',
     'Sao Tome and Principe': 'Santo Tomé y Príncipe',
     'Saudi Arabia': 'Arabia Saudita',
     'Serbia': 'Serbia',
     'Seychelles': 'Seychelles',
     'Singapore': 'Singapur',
     'Slovakia': 'Eslovaquia',
     'Slovenia': 'Eslovenia',
     'South Africa': 'Sudáfrica',
     'Spain': 'España',
     'Sri Lanka': 'Sri Lanka',
     'Suriname': 'Surinam',
     'Sweden': 'Suecia',
     'Switzerland': 'Suiza',
     'Syrian Arab Republic': 'República Árabe Siria',
     'TFYR Macedonia': 'Macedonia del Norte',
     'Tajikistan': 'Tayikistán',
     'Thailand': 'Tailandia',
     'Trinidad and Tobago': 'Trinidad y Tobago',
     'Tunisia': 'Túnez',
     'Turkey': 'Turquía',
     'Turkmenistan': 'Turkmenistán',
     'Turks and Caicos Islands': 'Islas Turcas y Caicos',
     'Ukraine': 'Ucrania',
     'United Arab Emirates': 'Emiratos Árabes Unidos',
     'United Kingdom': 'Reino Unido',
     'United States of America': 'Estados Unidos de América',
     'Uruguay': 'Uruguay',
     'Uzbekistan': 'Uzbekistán',
     'Venezuela (Bolivarian Republic of)': 'Venezuela',
     'Virgin Islands (USA)': 'Islas Vírgenes (EE. UU.)',
     'Zimbabwe': 'Zimbabue'
}

# Reemplazar los datos
datos = datos.rename(columns=nuevas_columnas)
datos['pais'] = datos['pais'].replace(paises_trad)
datos['sexo'] = datos['sexo'].replace({'female':'mujer','male':'hombre'})
datos['edad'] = datos['edad'].apply(lambda x: x.replace('years','años'))

# Visualizacion de datos
print('Datos existentes')
print(datos.count())
print('_'*55)
print('Datos que faltan')
print(datos.isnull().sum())
print('_'*55)
print('Datos de suicidios que faltan por pais')
r = datos.groupby('pais')['nro_suicidios'].apply(lambda x: x.isnull().sum())
print(r[r>0])
print('_'*55)
print('Datos de cantidad poblacional que faltan por pais')
s = datos.groupby('pais')['poblacion'].apply(lambda x: x.isnull().sum())
print(s[s>0])

Datos existentes
pais             43776
año              43776
sexo             43776
edad             43776
nro_suicidios    41520
poblacion        38316
dtype: int64
_______________________________________________________
Datos que faltan
pais                0
año                 0
sexo                0
edad                0
nro_suicidios    2256
poblacion        5460
dtype: int64
_______________________________________________________
Datos de suicidios que faltan por pais
pais
Albania                      108
Armenia                       36
Australia                     12
Austria                       12
Azerbaiyán                    24
Bahamas                       24
Belice                        24
Bermudas                      24
Bielorrusia                   72
Bosnia y Herzegovina          24
Brunei Darussalam             12
Bulgaria                      12
Chile                         12
Chipre                        24
Costa Rica                    12
Cuba                         156
Dinamarca                    180
Egipto                        24
Eslovaquia                   108
España                        12
Estados Unidos de América     12
Estonia                       12
Federación Rusa               24
Filipinas                     96
Finlandia                     96
Georgia                       60
Guadalupe                     12
Guayana Francesa              24
Islandia                      24
Islas Caimán                  36
Islas Vírgenes (EE. UU.)      24
Israel                        12
Kazajstán                     12
Kirguistán                    12
Kiribati                      12
Lituania                      12
Macedonia del Norte           12
Martinica                     12
Mauricio                      24
Moldavia                      36
Mongolia                      12
Noruega                       84
Paraguay                      12
Polonia                       72
Portugal                      48
Reino Unido                   12
República Checa               12
Rumania                      120
San Cristóbal y Nieves        12
San Marino                    60
Suecia                        96
Suiza                        192
Turkmenistán                  12
Ucrania                       12
Uruguay                       12
Uzbekistán                    12
Name: nro_suicidios, dtype: int64
_______________________________________________________
Datos de cantidad poblacional que faltan por pais
pais
Anguila                      348
Antillas Holandesas          168
Arabia Saudita                24
Bermudas                     384
Bolivia                       48
Dominica                     372
Haití                         84
Honduras                     120
Irak                          12
Islas Caimán                 324
Islas Malvinas                60
Islas Turcas y Caicos        360
Islas Vírgenes Británicas    336
Jordania                      60
Malasia                      192
Marruecos                    156
Montserrat                   324
Mónaco                        24
Nicaragua                    252
Perú                         360
República Dominicana         396
República Árabe Siria        204
Rodrigues                     36
San Cristóbal y Nieves       312
San Marino                    12
San Pedro y Miquelón          60
Tayikistán                   288
Territorios Palestinos       108
Túnez                         24
Zimbabue                      12
Name: poblacion, dtype: int64

In [15]:
datos = datos.dropna(axis=0, subset=['nro_suicidios', 'poblacion']).reset_index(drop=True)
datos

,pais,año,sexo,edad,nro_suicidios,poblacion
0,Albania,1987,mujer,15-24 años,14.0,289700.0
1,Albania,1987,mujer,25-34 años,4.0,257200.0
2,Albania,1987,mujer,35-54 años,6.0,278800.0
3,Albania,1987,mujer,5-14 años,0.0,311000.0
4,Albania,1987,mujer,55-74 años,0.0,144600.0
...,...,...,...,...,...,...
36055,Islas Vírgenes (EE. UU.),2015,hombre,25-34 años,2.0,4609.0
36056,Islas Vírgenes (EE. UU.),2015,hombre,35-54 años,1.0,12516.0
36057,Islas Vírgenes (EE. UU.),2015,hombre,5-14 años,0.0,7291.0
36058,Islas Vírgenes (EE. UU.),2015,hombre,55-74 años,0.0,12615.0
36059,Islas Vírgenes (EE. UU.),2015,hombre,75+ años,0.0,2496.0